@font-face {
    font-family: "Minecraft Regular";
    src: url("minecraft-regular.otf");
}

body {
    margin: 0;
}

#node-canvas {
    display: block;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#controls {
    background: #202020c0;
    width: max-content;
    font-family: "Minecraft Regular";
    color: white;
}

.aspect-amount {
    width: 4em;
}

.aspect-icon {
    width: 2em;
    height: 2em;
}