@font-face {
    font-family: "Minecraft Regular";
    src: url("minecraft-regular.otf");
}

body {
    margin: 0;
}

#node-canvas {
    display: block;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#controls {
    background: #202020c0;
    width: max-content;
    font-family: "Minecraft Regular";
    color: white;
    width: 21em;
    height: 100vh;
}

#aspects {
    background: #20202080;
    height: 25em;
    overflow-y: scroll;
}

.aspect {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aspect-amount {
    width: 4em;
    background: transparent;
    border: none;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    text-align: center;
}

.aspect-icon {
    width: 2em;
    height: 2em;
    position: relative;
}

.aspect-icon-back {
    width: 3em;
    height: 3em;
    position: absolute;
    top: -0.5em;
    left: -0.5em;
    z-index: -1;
}

.aspect-icon-fg {
    width: 2em;
    height: 2em;
    position: absolute;
    z-index: 1;
}

/*the container must be positioned relative:*/
.div-aspect-select {
    position: relative;
    width: 14em;
}

.div-aspect-select select {
    display: none; /*hide original SELECT element:*/
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 50%;
    right: 1em;
    width: 0;
    height: 0;
    border: 0.5em solid transparent;
    border-color: #fff transparent transparent transparent;
    transform: translate(-25%, -25%);
}

.select-selected.select-arrow-active {
    background-color: #202020;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 50%;
    transform: translate(-25%, -75%);
}

/*style the items (options), including the selected item:*/
.select-items>div, .select-selected {
    color: #ffffff;
    padding: 0.5em;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #202020e0;
    z-index: 99;
    max-height: 20em;
    overflow-y: scroll;
    width: 14em;
}

.select-items>div>div, .select-selected>div {
    margin-left: 1em;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items>div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.remove-aspect {
    color: red;
    font-size: 1.5em;
    font-weight: bolder;
    padding: 0.25em;
    transition: background-color 0.1s ease-out 100ms;
    cursor: pointer;
    user-select: none;
}

.remove-aspect:hover {
    background-color: rgba(255,0,0,0.45);
}

#aspects-section-label {
    display: flex;
    flex-direction: row;
    text-align: center;
}

#aspects-section-label>div:nth-child(1) {
    width: 14em;
}

#aspects-section-label>div:nth-child(2) {
    width: 4em;
}

#aspects-section-label>div>div {
    font-size: 1.5em;
}

#btn-add-aspect {
    margin: 0.5em 0.75em;
    font-size: 1.5em;
    color: #55dd55;
    cursor: pointer;
    user-select: none;
}

.select-items-wrapper {
    position: absolute;
}